NODE_ENV=production
PORT=3000

DATABASE_URL=postgresql://usuario:clave@database-1.cev8gk4y2dnb.us-east-1.rds.amazonaws.com:5432/DATABASE_NAME?schema=SCHEMA_NAME

DB_HOST=database-1.cev8gk4y2dnb.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=DATABASE_NAME
DB_SCHEMA=SCHEMA_NAME
DB_USER=usuario
DB_PASSWORD=clave

R2_ENDPOINT_URL=https://xxx.r2.cloudflarestorage.com
R2_BUCKET=data-prod
R2_ACCESS_KEY_ID=741ec5bc0e1e0xx
R2_SECRET_ACCESS_KEY=xxxx
R2_REGION=auto

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
